body {
  margin: 0;
}

.container {
  position: relative;
  width: 1500px;
  height: 500px;
  background: #94d1ca;
  overflow: hidden;
}

/* Left rack */
.rack-left {
  position: absolute;
  width: 240px;
  height: 100px;
  top: 60px;
  left: 90px;
  border-bottom: 10px solid #112a2c;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Left rack => books */
.rack-left .books {
  display: flex;
  align-items: flex-end;
}

.rack-left .books .book-1 {
  position: relative;
  width: 20px;
  height: 100px;
  background-color: #e65e33;
  margin-left: 20px;
}

.rack-left .books .book-1::after,
.rack-left .books .book-1::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #f2feff;
  top: 15px;
  left: 0;
}

.rack-left .books .book-1::before {
  top: 65px;
}

.rack-left .books .book-2 {
  width: 20px;
  height: 75px;
  background-color: #fbef17;
  border: 1px solid #112a2c;
}

.rack-left .books .book-3 {
  position: relative;
  width: 22px;
  height: 100px;
  background-color: #4e9ba1;
  transform: rotate(-25deg);
  margin-left: 13px;
}

.rack-left .books .book-3::after,
.rack-left .books .book-3::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 50px;
  background: #8fcdca;
  top: 35px;
  left: 5px;
}

.rack-left .books .book-3::before {
  top: 5px;
  left: 2px;
  width: 18px;
  height: 20px;
  background: linear-gradient(90deg, #8fcdca 8px, #4e9ba1 9px, #4e9ba1 9px, #8fcdca 9px);
}

/* Left rack => clock */
.rack-left .clock {
  width: 60px;
  height: 80px;
  background-color: #1e363a;
  border-radius: 5px;
  border: 3px solid #f2feff;
  border-bottom: 0;
  margin-right: 20px;
}

.rack-left .clock .hour {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 10px 5px 0;
  background: #fff;
  border-radius: 50%;
}

.rack-left .clock .hour::after,
.rack-left .clock .hour::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 23px;
  background-color: #010101;
  left: 23px;
  top: 4px;
}

.rack-left .clock .hour::before {
  transform: rotate(90deg);
  top: 15px;
  left: 14px;
}

/* -------------------------------------- */
/* Frames */
.frames {
  position: absolute;
  display: flex;
  left: 380px;
  top: 20px;
  gap: 24px;
}

.frame {
  width: 50px;
  height: 50px;
  background: linear-gradient(45deg, #a1d6d4 50%, #72cace 50%);
}

.frame-1 {
  box-shadow: 0 0 0 4px #306260, 0 0 0 8px #50998b, 0 0 0 10px #b7ce8d;
  margin-top: 40px;
}

.frame-2 {
  background: linear-gradient(45deg, #f1ebde 50%, #72cace 50%);
  box-shadow: 0 0 0 4px #2a4d2a, 0 0 0 10px #c44430;
  margin-top: 20px;
}

.frame-3 {
  box-shadow: 0 0 0 4px #2a4d2a, 0 0 0 10px #102a2f;
}

/* ----------------------------- */
/* Lamp */
.lamp {
  position: absolute;
  left: 50%;
  top: 35px;
  transform: translateX(-50%);
  width: 100px;
  height: 50px;
  border-radius: 100px 100px 0 0;
  background-color: #fff;
}

.lamp::after,
.lamp::before {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
}

.lamp::before {
  width: 4px;
  height: 35px;
  background-color: #0b1d1d;
  top: -35px;
}

.lamp::after {
  width: 40px;
  height: 20px;
  border-radius: 0 0 40px 40px;
  background: #fbee13;
  bottom: -20px;
}

/* -------------------------------- */
/* Calendar */
.calendar {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #fff;
  left: 900px;
  top: 20px;
  border-radius: 5px;
}

/* Calendar circles */
.calendar-header {
  display: flex;
  justify-content: space-around;
}

.calendar-header-circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000206;
}

/* Calendar heading */
.calendar-heading {
  width: 80px;
  height: 15px;
  margin: 5px auto;
  background-color: #aad7d1;
  border-radius: 2px;
}

/* Days */
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 10px);
  grid-template-rows: repeat(5, 10px);
  gap: 3px;
  padding: 0 6px;
}

.day {
  width: 10px;
  height: 10px;
  background-color: #6dd1cf;
}

.day:first-of-type {
  grid-column: 5/6;
}

.day:nth-of-type(7n + 2),
.day:nth-of-type(7n + 3) {
  background-color: #c24332;
}

/* --------------------------- */
/* Right rack */
.rack-right {
  position: absolute;
  width: 240px;
  height: 100px;
  top: 60px;
  right: 10px;
  border-bottom: 10px solid #112a2c;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Right rack => Plant */
.plant {
  position: relative;
  margin-left: 10px;
}

.plant .flower {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #be412d;
  border: 5px solid #ed910a;
}

.plant .branch {
  position: absolute;
  width: 5px;
  height: 60px;
  background-color: #467d0b;
  left: 50%;
  transform: translateX(-50%);
  top: 35px;
}

.plant .branch::after,
.plant .branch::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 30px;
  background-color: #467d0b;
  transform: rotate(45deg);
  left: 12px;
}

.plant .branch::after {
  transform: rotate(-45deg);
  left: -12px;
  top: -14px;
}

.plant .box-border {
  width: 68px;
  height: 15px;
  background-color: #f8cb3c;
  margin-top: 20px;
}

.plant .box {
  width: 68px;
  height: 50px;
  background-color: #f0a01e;
  clip-path: polygon(5px 0, 63px 0, 53px 100%, 15px 100%);
}

/* Right rack => music box */
.music-box {
  position: relative;
  width: 90px;
  height: 110px;
  background-color: #203536;
  margin-right: 10px;
}

.music-box .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #192f2b;
  box-shadow: 0 0 0 2px #fff, 0 0 0 12px #56a7a3, 0 0 0 15px #fff;
  margin: 55px auto 0;
}

.music-box::after,
.music-box::before,
.music-box .circle::after,
.music-box .circle::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4e9ca5;
}

.music-box::after,
.music-box::before {
  bottom: 10px;
}

.music-box .circle::after,
.music-box .circle::before {
  top: 30px;
}

.music-box::after,
.music-box .circle::after {
  left: 15px;
}

.music-box::before,
.music-box .circle::before {
  right: 15px;
}

/* ------------------------------- */
/* On table */
.on-table {
  display: flex;
  margin: 130px auto 0;
  width: 1070px;
  align-items: flex-end;
  padding-left: 10px;
}

/* On table => mobile */
.on-table .mobile {
  position: relative;
  width: 40px;
  height: 70px;
  background-color: #102a2f;
  border-radius: 5px;
  margin: 0 30px 5px;
}

.on-table .mobile::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #eeee4f;
  left: 50%;
  bottom: 2px;
  transform: translateX(-50%);
}

.mobile .screen {
  width: 35px;
  margin: 4px auto 0;
  height: 55px;
  background: linear-gradient(58deg, #9fd7d6 50%, #72c9d0 50%);
}

/* On table => First screen */
.screen-1 {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #f4ebd8;
  margin-left: 30px;
  margin-bottom: 35px;
  border-radius: 10px;
}

.screen-1::before,
.screen-1::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
}

.screen-1::before {
  width: 70px;
  height: 35px;
  background-color: #f4ebd8;
  bottom: -35px;
  border-bottom: 5px solid #63c0c4;
}

.screen-1::after {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: #af402a;
  bottom: 22px;
}

.monitor {
  width: 260px;
  height: 135px;
  border: 5px solid #13242a;
  background-color: #606f6e;
  border-radius: 10px 10px 0 0;
  padding: 10px 15px 0;
}

.code {
  height: 125px;
  background-color: #509e9f;
  padding-top: 10px;
}

.line-full {
  height: 7px;
  background-color: #f1feff;
  margin-bottom: 5px;
}

.line {
  height: 12px;
  width: 110px;
  margin-bottom: 5px;
  background-color: #f1feff;
  margin-left: auto;
  margin-right: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #73cbcb;
  height: 16px;
  gap: 10px;
  padding: 5px 30px;
}

.footer-card {
  height: 16px;
  background-color: #509ea1;
  flex: 1;
}

/* On table => Second screen */
.screen-2 {
  position: relative;
  width: 300px;
  height: 160px;
  background: linear-gradient(-28deg, #203536 50%, #627072 50%);
  margin-left: 15px;
  margin-bottom: 35px;
  border: 10px solid #10272b;
}

.screen-2::after,
.screen-2::before {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
}

.screen-2::before {
  width: 70px;
  height: 25px;
  background-color: #f4ebd8;
  bottom: -35px;
}

.screen-2::after {
  width: 100px;
  height: 10px;
  background-color: #5fbcc8;
  bottom: -45px;
}

/* On table => cup */
.cup {
  margin-left: 30px;
}

.cup .head {
  position: relative;
  width: 68px;
  height: 15px;
  background-color: #64c1c3;
  transform-style: preserve-3d;
}

.cup .head::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 40px;
  background-color: #fefbfc;
  transform: rotate(45deg) translateZ(-1px);
  top: -30px;
  right: 10px;
}

.body {
  width: 68px;
  height: 70px;
  background-color: #4f9b9d;
  clip-path: polygon(5px 0, 63px 0, 53px 100%, 15px 100%);
}

/* On table => lamp */
.on-table-lamp {
  position: relative;
}

.on-table-lamp .top {
  position: absolute;
  transform: rotate(-130deg);
  top: -45px;
  left: -40px;
  z-index: 2;
}

.on-table-lamp .body {
  width: 68px;
  height: 50px;
  margin: 0 10px;
  background-color: #fff;
  clip-path: polygon(5px 0, 63px 0, 53px 100%, 15px 100%);
}

.on-table-lamp .head {
  position: relative;
  width: 88px;
  height: 15px;
  background-color: #fff;
}

.on-table-lamp .head::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 10px;
  border-radius: 20px 20px 0 0;
  background-color: #faee0f;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
}

.on-table-lamp .hand {
  position: relative;
  width: 20px;
  height: 180px;
  background-color: #fff;
  margin-left: 50px;
}

.on-table-lamp .hand::after {
  position: absolute;
  content: "";
  width: 90px;
  height: 90px;
  border-right: 25px solid #fff;
  border-radius: 50%;
  left: -90px;
  top: -37px;
  transform: rotate(-42deg);
}

.on-table-lamp .desk {
  position: relative;
  width: 100px;
  height: 10px;
  background-color: #fff;
}

.on-table-lamp .desk::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 7px;
  background-color: #e54e18;
  top: -7px;
  left: 20px;
}

/* ------------------------------------------ */
/* Table */
.table {
  position: relative;
  width: 930px;
  height: 95px;
  margin: auto;
  border: 30px solid #11292d;
  border-bottom: 0;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  gap: 10px;
}

.table::after {
  position: absolute;
  content: "";
  width: 1090px;
  height: 30px;
  top: -30px;
  left: -87px;
  background-color: #11292d;
}

.locker {
  position: relative;
  width: 290px;
  height: 40px;
  border: 1px solid #11292d;
  background: linear-gradient(-8deg, #509e9f 50%, #61bdc2 50%);
  margin-bottom: 5px;
}

.locker::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 10px;
  background-color: #193630;
  left: 50%;
  transform: translateX(-50%);
  top: 5px;
}

.keyboard {
  border: 20px solid #11292d;
  border-top: 0;
  width: 290px;
  margin-top: -5px;
  height: 40px;
  display: flex;
  align-items: flex-end;
}

.keys {
  height: 7px;
  border-bottom: 15px solid #fff;
  width: 190px;
  margin: 0 auto;
  display: flex;
  gap: 4px;
  justify-content: space-around;
  padding: 0 5px;
}

.key {
  width: 12px;
  height: 7px;
  background-color: #e54e18;
}

.key:nth-of-type(4) {
  flex: 1;
}